* {
	margin: 0;
}

.all {
	margin-bottom: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.all-box {
	width: 1260px;
}

body {
	color: #666665;
	background-color: #fffefc;
	font-size: 18px;
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
		"Roboto", "Helvetica Neue", "Arial", sans-serif;
	line-height: 1.5;
	letter-spacing: 0.02em;
}
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
p {
	margin: 10px 0px 20px;
}
a {
	text-decoration: underline;
	text-underline-offset: 0.2em;
	color: #666665;
}
a:hover {
	text-decoration: none;
	color: #e16259;
}
a:link,
a:visited {
	text-decoration: none;
}

h1 {
	color: black;
	font-size: 74px;
	line-height: 1;
	letter-spacing: -0.025em;
	margin-bottom: 20px;
}
h2 {
	color: black;
	font-size: 38px;
	line-height: 1.1em;
	letter-spacing: -0.025em;
	margin-bottom: 15px;
}
h3 {
	color: black;
	font-size: 30px;
	line-height: 1.2;
	letter-spacing: -0.025em;
	margin: 10px 0px 20px;
	width: 300px;
}
hr {
	border: 0;
	height: 0.5px;
	background: #e6e6e6;
	margin: 40px 0px;
}
blockquote {
	color: black;
	margin: 0;
}

/* NAVIGATION BAR */

nav {
	position: sticky;
	top: 0;
	z-index: 100;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 60px;
	background-color: #fffefc;
	color: black;
	font-size: 15px;
	font-weight: 100;
	letter-spacing: 0;
	margin: 0px 20px;
}
.nav-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 1260px;
	height: 60px;
	border-bottom-style: solid;
	border-bottom-width: 1.5px;
	border-bottom-color: #e6e6e6;
}
.nav-left {
	display: flex;
}
.nav-logo {
	width: 90px;
	padding-right: 20px;
}
.nav-links-left {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 440px;
}
.nav-links-right {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 320px;
}
.nav-links-left a {
	text-decoration: none;
	color: black;
}
.nav-links-right a {
	text-decoration: none;
	color: black;
}
.nav-links-box {
	display: flex;
	align-items: center;
	background-color: white;
	font-weight: 600;
	border-radius: 3px;
	padding: 4px 10px;
}
.nav-links-box:hover {
	background-color: #f0efed;
}
.nav-links-arrow {
	margin-left: 8px;
}
.checkbtn {
	font-size: 20px;
	color: black;
	float: right;
	cursor: pointer;
	display: none;
}
#check {
	display: none;
}
.burger div {
	width: 20px;
	height: 1.6px;
	background-color: black;
	margin: 6px 0;
}

/* HEADER  */

.header-container {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
	padding: 120px 0px 30px;
}
.headerText-container {
	width: 610px;
}
.headerSubtext-container {
	width: 415px;
}
.headerImage-container {
	display: flex;
	width: 500px;
	justify-content: center;
	padding-right: 50px;
	margin-bottom: 30px;
}
.headerImage {
	justify-content: center;
	width: 100%;
	height: auto;
}
.headerTeamText {
	font-size: 12px;
	font-weight: 500;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	padding: 0px 0px 5px;
}
.headerTeam-container {
	max-width: 540px;
	padding: 20px 0px;
}
.headerTeamImage-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;
	width: 100%;
}
.headerTeamImage-size {
	display: flex;
	align-items: center;
	padding-right: 20px;
}
.headerTeamImage {
	max-height: 22px;
	max-width: 90px;
	padding-bottom: 20px;
}

/* FEATURES */

.feature-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 55px 0px 55px;
}
.featureIcon-1 {
	max-width: 100px;
}
.featureIcon-2 {
	max-width: 80px;
}
.featureIcon-3 {
	max-width: 160px;
}
.featureIcon-4 {
	max-width: 60px;
}
.featureText-container {
	width: 360px;
	padding-right: 50px;
}
.featureMedia-container {
	width: 840px;
}
.featureVideo {
	max-width: 100%;
	height: auto;
	border-radius: 15px;
	box-shadow: 0px 1px 5px rgb(211, 211, 211);
}
.featureImage {
	max-width: 100%;
	height: auto;
	border-style: solid;
	border-color: #e0dbd4;
	border-width: 1px;
	border-radius: 15px;
}

/* SECTIONS */

.section-container {
	display: flex;
	flex-direction: column;
	padding: 40px 0px;
}
.sectionTitle-container {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
}
.sectionText-container {
	width: 500px;
}
.sectionIcon-container {
	display: flex;
	width: 40%;
	justify-content: center;
	padding: 0px 20px;
}
.sectionIcon {
	max-width: 250px;
	height: auto;
}
.sectionIcon-2 {
	max-width: 350px;
	height: auto;
}

/* SECTION: BUILT FOR ENDLESS USES */

.sectionUse-container {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	padding: 60px 0 20px;
}
.sectionUseMedia-container {
	width: 945px;
}
.sectionUse-links-container {
	display: inline-flex;
	flex-direction: column;
	align-items: flex-start;
	width: 320px;
}
.sectionUse-links {
	background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
	color: black;
	font-size: 17px;
	font-weight: 600;
	border-radius: 5px;
	padding: 3px 10px;
	margin-bottom: 3px;
}
.sectionUse-links:hover {
	background-color: #f7f6f4;
}

/* SECTION: TEMPLATES */

.sectionTemplate-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	padding: 60px 0 0px;
}
.sectionTemplateText {
	color: black;
	font-size: 15px;
	font-weight: 600;
	letter-spacing: 0;
	margin: 10px 0;
}
.sectionTemplateMedia-container {
	width: 31%;
}
.sectionTemplateMedia-box {
	position: relative;
}
.sectionTemplateMedia {
	display: block;
	max-width: 100%;
	height: auto;
	border-radius: 10px;
	box-shadow: 0px 1px 5px rgb(211, 211, 211);
}
.sectionTemplateButton-container {
	display: flex;
	flex-direction: row;
	padding: 20px 0;
}
.overlayTemplate {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.05);
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	opacity: 0;
	transition: opacity 0.25s;
}
.overlayTemplate:hover {
	opacity: 1;
}
.overlayTemplate-button {
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	color: rgb(255, 255, 255);
	background-color: black;
	font-size: 15px;
	line-height: 1;
	border-style: solid;
	border-width: 2px;
	border-radius: 50px;
	border-color: white;
	box-shadow: 0px 2px 4px rgb(0, 0, 0, 0.2);
	padding: 10px 20px 10px;
	margin-right: 10px;
	cursor: pointer;
}

/* SECTION: TRY NOTION TODAY */

.sectionEndIcon {
	max-width: 80px;
}
.sectionEnd-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 400px;
	padding: 50px 0px;
	background-image: url(https://www.notion.so/cdn-cgi/image/format=auto,width=640,quality=100/front-static/pages/product/sitting-character.png);
	background-position: bottom 0px left 50px;
	background-repeat: no-repeat;
	background-size: 250px;
}
.sectionEnd {
	text-align: center;
}
.sectionEnd-subtext {
	font-size: 17px;
	letter-spacing: 0;
}
.sectionEnd-contactSales {
	font-size: 17px;
	letter-spacing: 0;
	text-decoration: underline;
	text-underline-offset: 0.2em;
	color: #666665;
}
.sectionEnd-contactSales:hover {
	text-decoration: none;
	color: #e16259;
}
.review-flex {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	padding: 70px 0px 0px;
}
.review {
	box-sizing: border-box;
	width: 30%;
}
.review-logo-container {
	align-items: center;
	height: 40px;
}
.review-logo {
	max-height: 30px;
	max-width: 120px;
}
.review-person-container {
	display: flex;
	align-items: center;
	padding: 10px 0px;
	font-size: 14px;
	letter-spacing: 0;
}
.review-personAvatar {
	max-width: 60px;
	max-height: 60px;
	padding-right: 10px;
}
.review-personName {
	color: black;
}

/* BUTTONS */

button {
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
		"Roboto", "Helvetica Neue", "Arial", sans-serif;
}
.button-1 {
	display: flex;
	justify-content: center;
	box-sizing: border-box;
	color: white;
	background-color: #e16259;
	font-size: 14px;
	font-weight: 600;
	line-height: 1;
	border-style: solid;
	border-width: 1px;
	border-radius: 4px;
	border-color: #bc5444;
	padding: 10px 30px 10px;
	cursor: pointer;
}
.button-1:hover {
	background-color: #cf534a;
}
.button-2 {
	display: flex;
	justify-content: center;
	box-sizing: border-box;
	color: white;
	background-color: #e16259;
	font-size: 14px;
	font-weight: 600;
	line-height: 1;
	border-style: solid;
	border-width: 1px;
	border-radius: 4px;
	border-color: #bc5444;
	padding: 10px 12px 10px;
	cursor: pointer;
}
.button-2:hover {
	background-color: #cf534a;
}
.button-3 {
	display: block;
	margin: auto;
	justify-content: center;
	box-sizing: border-box;
	color: white;
	background-color: #e16259;
	font-size: 14px;
	font-weight: 600;
	line-height: 1;
	border-style: solid;
	border-width: 1px;
	border-radius: 4px;
	border-color: #bc5444;
	padding: 10px 70px 10px;
	cursor: pointer;
}
.button-3:hover {
	background-color: #cf534a;
}
.button-white {
	display: flex;
	justify-content: center;
	box-sizing: border-box;
	color: black;
	background-color: white;
	font-size: 14px;
	font-weight: 600;
	line-height: 1;
	border-style: solid;
	border-width: 1px;
	border-radius: 4px;
	border-color: #e5e4e2;
	padding: 10px 12px 10px;
	cursor: pointer;
}
.button-white:hover {
	background-color: #efeeec;
}
.button-arrow {
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	color: black;
	background-color: white;
	font-size: 14px;
	font-weight: 600;
	line-height: 1;
	border-style: solid;
	border-width: 1px;
	border-radius: 4px;
	border-color: #e5e4e2;
	padding: 10px 12px 10px;
	margin-right: 10px;
	cursor: pointer;
}
.button-arrow:hover {
	background-color: #efeeec;
}
button:visited {
	text-decoration: none;
}

/* FOOTER */

footer {
	font-size: 14px;
	font-weight: 370;
	line-height: 1.85;
	letter-spacing: 0.02em;
}
footer li:hover {
	color: #e16259;
	text-decoration: underline;
	cursor: pointer;
}
.footer-flex {
	display: flex;
	flex-flow: row wrap;
}
.footer-item {
	width: calc(100% / 6);
}
.footer-item-bold {
	color: black;
	font-size: 15px;
	font-weight: 600;
	letter-spacing: 0.01em;
}
.footer-item-logo {
	width: calc(100% / 6);
}
.footer-logo {
	width: 90px;
}
.footerBottom-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
.footerBottom-flex {
	display: flex;
	flex-flow: row wrap;
}
.footerBottom-item-flex {
	display: flex;
	flex-flow: row wrap;
}
.footerBottom-item {
	color: black;
	font-weight: 600;
	padding-right: 25px;
	letter-spacing: 0.001em;
}

.social-logo-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 190px;
}
.social-logo {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 32px;
	height: 30px;
	border-style: none;
	background-color: transparent;
}
.social-twitter,
.social-linkedin,
.social-facebook,
.social-instagram,
.social-youtube {
	max-width: 25px;
	max-height: 25px;
}
.social-twitter,
.social-linkedin,
.social-facebook,
.social-instagram,
.social-youtube path {
	fill: #666665;
}
.social-logo:hover {
	background-color: #f0efed;
}
.social-twitter:hover path {
	fill: #1da1f2;
}
.social-linkedin:hover path {
	fill: #2867b2;
}
.social-facebook:hover path {
	fill: #4267b2;
}
.social-instagram:hover path {
	fill: black;
}
.social-youtube:hover path {
	fill: #ff0000;
}
.notion-logo {
	max-width: 100%;
	height: auto;
}

/* MEDIA QUERIES */

@media all and (max-width: 1400px) {
	.all {
		margin: 60px;
	}
	.all-box {
		width: 100%;
	}
	h1 {
		font-size: 50px;
		line-height: 1.1;
	}
	.header-container {
		padding: 55px 0px 0px;
	}
	.headerImage-container {
		padding: 20px;
	}
	.sectionUse-container {
		padding: 40px 0 20px;
	}
	.sectionUse-links-container {
		width: 250px;
	}
}

@media all and (max-width: 1024px) {
	.checkbtn {
		display: block;
	}
	.nav-links-left {
		display: none;
	}
	.nav-links-right {
		display: none;
	}
	/* TOGGLE NOT WORKING */
	#check:checked ~ .nav-links-left {
		display: block;
	}

	.all {
		margin: 40px;
	}
	h1 {
		font-size: 50px;
		margin-top: 20px;
	}
	h3 {
		margin-bottom: 0px;
		width: 100%;
	}
	.header-container {
		display: block;
		align-items: center;
	}
	.headerText-container {
		display: block;
		margin: auto;
		text-align: center;
		padding: 0;
	}
	.headerSubtext-container {
		display: block;
		margin: auto;
		text-align: center;
		padding-bottom: 20px;
	}
	.headerImage-container {
		display: block;
		margin: auto;
		width: 400px;
		align-self: center;
		padding: 0;
	}
	.headerTeam-container {
		display: block;
		margin: auto;
		width: 400px;
	}
	.headerTeamImage-container {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: center;
		width: 100%;
	}
	.headerTeamImage-size {
		align-self: center;
		padding: 5px 10px 0px;
	}
	.button-1 {
		display: block;
		margin: auto;
	}
	.feature-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 40px 0px 20px;
	}
	.featureText-container {
		width: 100%;
		padding: 0px;
	}
	.featureSubtext-container {
		width: 100%;
	}
	.featureMedia-container {
		width: 100%;
	}
	.sectionTitle-container {
		display: block;
	}
	.sectionText-container {
		width: 500px;
	}
	.sectionIcon-container {
		justify-content: center;
		width: 100%;
		padding: 0px;
		margin: 0px 0px 40px;
	}
	.sectionUse-links-container {
		width: 200px;
	}
	.sectionTemplateMedia-container {
		width: 48%;
		padding-bottom: 25px;
	}
	.sectionTemplateButton-container {
		display: flex;
		flex-direction: row;
		padding: 0;
	}
	.sectionEnd-container {
		height: 400px;
		padding: 50px 0px;
		background-image: url(https://www.notion.so/cdn-cgi/image/format=auto,width=640,quality=100/front-static/pages/product/sitting-character.png);
		background-position: bottom 0px left 10px;
		background-repeat: no-repeat;
		background-size: 200px;
	}
	.review-flex {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		padding: 40px 0px 0px;
	}
	.review {
		width: 650px;
		padding-bottom: 20px;
	}
	.footer-item-bold {
		color: black;
		font-size: 14px;
		font-weight: 600;
	}
	.footer-item {
		width: calc(100% / 2);
		margin-top: 40px;
	}
	.footer-item-logo {
		width: 100%;
	}
}

@media all and (max-width: 768px) {
	h1 {
		font-size: 40px;
	}
	h3 {
		margin-bottom: 10px;
	}
	.headerImage-container {
		display: block;
		margin: auto;
		width: 300px;
		align-self: center;
		padding: 0;
	}
	.headerText-container {
		width: 100%;
	}
	.sectionUse-container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 60px 0 20px;
	}
	.sectionUseMedia-container {
		width: 100%;
	}
	.sectionUse-links-scroll {
		overflow-x: scroll;
		width: 100%;
	}
	.sectionUse-links-container {
		flex-direction: row;
		justify-content: space-between;
		width: 830px;
		padding: 10px 0;
	}
	.sectionUse-links {
		background: none;
		color: inherit;
		border: none;
		font: inherit;
		cursor: pointer;
		outline: inherit;
		color: black;
		font-size: 17px;
		font-weight: 600;
		border-radius: 5px;
		padding: 3px 10px;
		margin-bottom: 3px;
	}
	.sectionEnd-container {
		height: 100%;
		padding: 10px 0px;
		background-image: none;
	}
}

@media all and (max-width: 600px) {
	.all {
		margin: 20px;
	}
	h2 {
		font-size: 30px;
	}
	h3 {
		font-size: 21px;
		line-height: 1;
		margin-bottom: 0px;
	}
	.headerSubtext-container {
		width: 90%;
	}
	.headerTeam-container {
		width: 75%;
	}
	.feature-container {
		padding: 30px 0px 20px;
	}
	.section-container {
		padding: 20px 0px;
	}
	.sectionText-container {
		width: 100%;
	}
	.sectionTemplate-container {
		display: flex;
	}
	.sectionTemplateMedia-container {
		width: 100%;
	}
	.footerBottom-container {
		display: flex;
		flex-direction: column-reverse;
		justify-content: space-evenly;
		align-items: flex-start;
		height: 100px;
		padding-bottom: 20px;
	}
	.footerBottom-flex {
		display: flex;
		flex-flow: column wrap;
	}
	.footerBottom-copyright,
	.footerBottom-item,
	.social-logo-container {
		padding-bottom: 10px;
		padding-top: 10px;
	}
}
